/* CSS RESET */
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #ffebff;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

/* Navigation */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
}

#navbar::before{
    content: '';
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

#logo{

}

#logo img{
    margin: 15px;
    height: 55px;
    width: 55px;
    border-radius: 50px;
}

#navbar ul{
    display: flex;
}

#navbar li{
    list-style: none;
    font-size: 1.1rem;
}

#navbar li a{
    color: #d0badfe6;
    text-decoration: none;
    display: block;
    margin: 24px 2px;
    padding: 9px 27px;
    border-radius: 20px;
}
#navbar li a:hover{
    color: black;
    background-color: #d0badfe6;

}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 200px;
    height: 680px;
    /* position: relative; */
}

#home::before{
    content: '';
    height: 765px;
    width: 100%;
    position: absolute;
    top: 0;
    background: url('../img/bg1.jpg' )no-repeat center center/cover;
    z-index: -1;
    opacity: 0.89;
}

#home p{
    font-family: 'Quicksand', sans-serif;
    color: #d0badfe6;
    padding: 5px;
    text-align: center;
    font-size: 1.18rem;
}

#home h1{
    color: white;
    text-align: center;
}




.btn{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.18rem;
    height: 50px;
    width: 170px;
    margin: 20px 10px;
    padding: 6px 20px;
    border-radius: 40px;
    border: 2px solid #6b356b;
    background-color: #d0badfe6;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    font-weight: bold;
    background-color: #d3c5dee6;

}

/* Section  services*/
#service-container{
    margin: 40px 2px;
}

#services{
    margin: 40px 2px;
    display: flex;
    align-items: center;
}

#services .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 2px solid #6b356b;
    background-color: #e0d1e9e6;
    margin: 0px 7px;
    border-radius: 30px;
}
 
#services .box img{
    display: block;
    height: 150px;
    margin: auto;
}

#services .box p{
    font-family: 'Quicksand', sans-serif;
}

#fault{
    border-radius: 80px;
    box-shadow: #ffffff 1px 1px 7px 5px;
}


/* Client Section */

#client-section{
    margin-top: 90px;
    height: 300px;
}
#client-section h1{
    margin: 10px 2px;
    padding: 31px 2px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.4;
}

.clients{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.clients-item{
    padding: 2px 20px;

}
.clients-item img{
    height: 110px;
}


/*  contact section*/
#contact{
    /* margin-top: 90px; */
    height: 500px;
    position: relative;

}

#contact::before{
    content: "";
    position: absolute;
    background: url('../img/contact.jpg') no-repeat center center/cover;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.89;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 34px; */
}

.form-group{
    margin: 5px 2px;
    width: 100%;

}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    border-radius: 15px;

}
#contact-box label{
    font-weight: bold;
    font-size: 1.3rem;
}

#contact-box form{
    font-family: 'Quicksand', sans-serif;
    width: 40%;
}

#contact h1{
    padding: 20px 0;
}




/* Utility class */
.h-primary{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.8rem;
    padding: 12px;
}

footer{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.h-secondary{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    padding: 12px;
}

.centre{
    text-align: center;
}

